In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open ('df.pickle','rb') as fr:
    df = pickle.load(fr)

In [4]:
df

,customer_id,article_id,Buy,price,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,...,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name
0,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0562245001,0,0.033881,0,0,ACTIVE,None,1,Woman,...,Trousers,Garment Lower body,Solid,Black,Dark,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers
1,00007d2de826758b65a93dd24ce629ed66842531df6699...,0562245001,0,0.033881,1,1,ACTIVE,Regularly,2,Woman,...,Trousers,Garment Lower body,Solid,Black,Dark,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers
2,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,0562245001,0,0.033881,1,1,ACTIVE,Regularly,5,Woman,...,Trousers,Garment Lower body,Solid,Black,Dark,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers
3,0000b2f1829e23b24feec422ef13df3ccedaedc85368e6...,0562245001,0,0.033881,1,1,ACTIVE,Regularly,4,Woman,...,Trousers,Garment Lower body,Solid,Black,Dark,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers
4,00015c1a121e08bbd2552c15fbbb6e6b19d3bf8f7b6a3d...,0562245001,0,0.033881,0,0,ACTIVE,None,1,Woman,...,Trousers,Garment Lower body,Solid,Black,Dark,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55945779,fffe836e77106fde6a3d0fd74882c4f4315c5255e38fd1...,0688341001,0,0.016932,1,1,ACTIVE,Regularly,2,Woman,...,T-shirt,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic
55945780,ffff12aa623c69eae8959d673f1f12ad0194ad760d77fd...,0688341001,0,0.016932,0,0,ACTIVE,None,2,Woman,...,T-shirt,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic
55945781,ffff1c80bd2dede87deda612527c3df06d2fb270b85602...,0688341001,0,0.016932,0,0,ACTIVE,None,4,Young,...,T-shirt,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic
55945782,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0688341001,0,0.016932,0,0,ACTIVE,None,1,Young,...,T-shirt,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic
55945783,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0688341001,0,0.016932,1,1,ACTIVE,Regularly,1,Woman,...,T-shirt,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 21 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   price                        float64
 4   FN                           uint8
 5   Active                       uint8
 6   club_member_status           object
 7   fashion_news_frequency       object
 8   age_class                    uint8
 9   attribute                    object
 10  prod_name                    object
 11  product_type_name            object
 12  product_group_name           object
 13  graphical_appearance_name    object
 14  colour_group_name            object
 15  perceived_colour_value_name  object
 16  department_name              object
 17  index_name                   object
 18  index_group_name             object
 19  section_name                 object
 20  garment_group_name           object
dtypes: float64(1), object(16), uint8(4)
memory usage: 7.7+ GB

In [3]:
df['customer_id'].value_counts()

0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa    244
aaa4f201999478746e1d175109ad99d7dae365d00188255a0657ce23d516438a    244
aaa1d8c2c9a7479db3991af8acfce68e0d5bd9aaa0df23ac0b72eb25ee19706b    244
aaa2b4b6266d366cda930527509d4892cb1df5199ed83cd5de31a951284246a4    244
aaa2cfc28293753cd6e1414d507ff64252a1cdcb0e08cf5357285b23e7833e1b    244
                                                                   ...
55be5402df1670bbc33c14e1ecc402588ed4acc9bac6c7db90c01c87ce1873be    244
55be7094b858baad87aae5a7c355fd6e4e15bd2a5d503ac5832c04872bcb84a3    244
55be8ed543e3237968f3aa4122c47b857a59615dc11e32d5ec3361ccc45f45b1    244
55be99ed192241cb90339ac820c9b21b4db62e2e1ef222d8796c7a6e18ca1896    244
ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264    244
Name: customer_id, Length: 229286, dtype: int64

In [ ]:
#with open ('data_label.pickle','rb') as fr:
#    df_old = pickle.load(fr)

In [4]:
'''
for col in df.columns:
    print(col)
    print(pd.value_counts(df[col]))
'''

customer_id
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa    244
aaa4f201999478746e1d175109ad99d7dae365d00188255a0657ce23d516438a    244
aaa1d8c2c9a7479db3991af8acfce68e0d5bd9aaa0df23ac0b72eb25ee19706b    244
aaa2b4b6266d366cda930527509d4892cb1df5199ed83cd5de31a951284246a4    244
aaa2cfc28293753cd6e1414d507ff64252a1cdcb0e08cf5357285b23e7833e1b    244
                                                                   ...
55be5402df1670bbc33c14e1ecc402588ed4acc9bac6c7db90c01c87ce1873be    244
55be7094b858baad87aae5a7c355fd6e4e15bd2a5d503ac5832c04872bcb84a3    244
55be8ed543e3237968f3aa4122c47b857a59615dc11e32d5ec3361ccc45f45b1    244
55be99ed192241cb90339ac820c9b21b4db62e2e1ef222d8796c7a6e18ca1896    244
ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264    244
Name: customer_id, Length: 229286, dtype: int64
article_id
0562245001    229286
0542533001    229286
0594987002    229286
0708021001    229286
0570002001    229286
               ...
0316441001    229286
0417951005    229286
0621381001    229286
0658030006    229286
0688341001    229286
Name: article_id, Length: 244, dtype: int64
Buy
0    55007111
1      938673
Name: Buy, dtype: int64
price
0.016932    12381444
0.033881     8025010
0.025407     7795724
0.013542     5732150
0.042356     3439290
0.050831     2980718
0.022017     2751432
0.008458     2522146
0.084729     1146430
0.030492     1146430
0.005068      917144
0.067780      917144
0.011847      687858
0.010153      687858
0.006763      458572
0.004220      458572
0.016983      229286
0.030475      229286
0.017373      229286
0.005085      229286
0.047441      229286
0.059305      229286
0.017322      229286
0.009356      229286
0.008475      229286
0.017729      229286
0.008508      229286
0.033983      229286
0.032186      229286
0.010695      229286
0.035576      229286
0.020153      229286
0.015237      229286
Name: price, dtype: int64
FN
0    32859236
1    23086548
Name: FN, dtype: int64
Active
0    33205228
1    22740556
Name: Active, dtype: int64
club_member_status
ACTIVE        54857544
PRE-CREATE      990152
None             85644
LEFT CLUB        12444
Name: club_member_status, dtype: int64
fashion_news_frequency
None         32791404
Regularly    23130956
Monthly         23424
Name: fashion_news_frequency, dtype: int64
age_class
2    19009308
1    15098476
4    10774552
3     6651684
5     4411764
Name: age_class, dtype: int64
attribute
Woman            48634812
Young             6003864
Man                866444
Have-kids          249124
Sports-person      191540
Name: attribute, dtype: int64
prod_name
Luna skinny RW               917144
Skinny Ankle R.W Brooklyn    917144
Julia RW Skinny Denim TRS    917144
Tilly (1)                    687858
3p Sneaker Socks             687858
                              ...
Tina leggings                229286
5pk basic R socks            229286
Vichy 5pkt slim trouser      229286
Jodi skirt                   229286
Billie high 2-pack           229286
Name: prod_name, Length: 196, dtype: int64
product_type_name
Trousers            13757160
T-shirt              5961436
Leggings/Tights      4815006
Underwear Tights     3897862
Socks                2751432
Vest top             2522146
Underwear bottom     2522146
Sweater              1834288
Top                  1834288
Bra                  1834288
Hair ties            1375716
Belt                 1375716
Swimwear bottom      1146430
Bikini top            917144
Skirt                 917144
Blouse                687858
Dress                 687858
Shirt                 687858
Hair clip             458572
Pyjama bottom         458572
Underwear body        458572
Hoodie                458572
Boots                 458572
Cardigan              458572
Ballerinas            458572
Shorts                458572
Blazer                458572
Polo shirt            458572
Bag                   229286
Costumes              229286
Hat/beanie            229286
Night gown            229286
Hairband              229286
Unknown               229286
Hair string           229286
Sneakers              229286
Name: product_type_name, dtype: int64
product_group_name
Garment Lower body    19947882
Garment Upper body    15362162
Socks & Tights         6649294
Underwear              4815006
Accessories            4127148
Swimwear               2063574
Shoes                  1146430
Garment Full body       917144
Nightwear               687858
Unknown                 229286
Name: product_group_name, dtype: int64
graphical_appearance_name
Solid               46545058
Denim                5502864
Melange              1146430
Contrast              458572
All over pattern      458572
Other structure       458572
Transparent           458572
Stripe                229286
Placement print       229286
Neps                  229286
Embroidery            229286
Name: graphical_appearance_name, dtype: int64
colour_group_name
Black              37373618
White               7566438
Dark Blue           2751432
Blue                2063574
Light Blue          1834288
Light Grey           687858
Light Beige          687858
Beige                458572
Yellow               458572
Dark Red             458572
Grey                 229286
Greyish Beige        229286
Pink                 229286
Greenish Khaki       229286
Dark Grey            229286
Transparent          229286
Yellowish Brown      229286
Name: colour_group_name, dtype: int64
perceived_colour_value_name
Dark            39666478
Light            8942154
Medium Dusty     3439290
Dusty Light      2980718
Medium            917144
Name: perceived_colour_value_name, dtype: int64
department_name
Tights basic                6420008
Jersey Basic                4815006
Denim Trousers              4356434
Trousers                    3897862
Basic 1                     3668576
Trouser                     3210004
Light Basic Jersey          2751432
Hair Accessories            2292860
Jersey                      2292860
Swimwear                    2063574
Shopbasket Socks            1834288
Blouse                      1605002
Expressive Lingerie         1605002
Belts                       1375716
Clean Lingerie              1375716
Casual Lingerie              917144
Tops Knitwear                917144
Everyday Waredrobe Denim     917144
Knitwear                     687858
Socks Bin                    687858
Dresses DS                   458572
Functional Lingerie          458572
OL Extended Sizes            458572
Flats                        458572
Skirt                        458572
Ladies Sport Bras            458572
Nightwear                    458572
Suit                         458572
Loungewear                   229286
Knitwear Basic               229286
Heavy Basic Jersey           229286
Sneakers                     229286
Bags                         229286
Jersey Fancy                 229286
Shorts                       229286
Campaigns                    229286
Skirts                       229286
Socks                        229286
Ladies Sport Bottoms         229286
Shopbasket Lingerie          229286
Divided Shoes                229286
Jersey fancy                 229286
UW                           229286
Woven bottoms                229286
Young Boy Denim              229286
Knit & Woven                 229286
Boots                        229286
Shirt S&T                    229286
Name: department_name, dtype: int64
index_name
Ladieswear                15591448
Lingeries/Tights          15591448
Divided                   14445018
Ladies Accessories         4815006
Menswear                   4585720
Sport                       687858
Children Sizes 134-170      229286
Name: index_name, dtype: int64
index_group_name
Ladieswear       35997902
Divided          14445018
Menswear          4585720
Sport              687858
Baby/Children      229286
Name: index_group_name, dtype: int64
section_name
Womens Nightwear, Socks & Tigh    9171440
Ladies Denim                      5732150
Divided Collection                5273578
Womens Everyday Basics            4815006
Womens Tailoring                  4585720
Womens Lingerie                   4585720
Divided Basics                    3897862
Men Underwear                     3897862
Womens Everyday Collection        2980718
Womens Small accessories          2292860
Womens Swimwear, beachwear        2063574
Womens Big accessories            1605002
Womens Shoes                       917144
Mama                               687858
Ladies H&M Sport                   687858
Womens Casual                      458572
Divided Accessories                458572
Divided Selected                   458572
H&M+                               458572
Young Boy                          229286
Contemporary Smart                 229286
Contemporary Street                229286
Men Suits & Tailoring              229286
Name: section_name, dtype: int64
garment_group_name

Jersey Basic         11464300
Socks and Tights      9171440
Trousers              7337152
Trousers Denim        5961436
Under-, Nightwear     5502864
Accessories           4127148
Jersey Fancy          3439290
Swimwear              2063574
Knitwear              1834288
Blouses               1605002
Shoes                 1146430
Skirts                 687858
Dressed                458572
Dresses Ladies         458572
Special Offers         229286
Shorts                 229286
Shirts                 229286
Name: garment_group_name, dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 21 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   price                        float64
 4   FN                           uint8
 5   Active                       uint8
 6   club_member_status           object
 7   fashion_news_frequency       object
 8   age_class                    uint8
 9   attribute                    object
 10  prod_name                    object
 11  product_type_name            object
 12  product_group_name           object
 13  graphical_appearance_name    object
 14  colour_group_name            object
 15  perceived_colour_value_name  object
 16  department_name              object
 17  index_name                   object
 18  index_group_name             object
 19  section_name                 object
 20  garment_group_name           object
dtypes: float64(1), object(16), uint8(4)
memory usage: 7.7+ GB

In [4]:
df.drop(['attribute','price'],axis = 1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 19 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           object
 6   fashion_news_frequency       object
 7   age_class                    uint8
 8   prod_name                    object
 9   product_type_name            object
 10  product_group_name           object
 11  graphical_appearance_name    object
 12  colour_group_name            object
 13  perceived_colour_value_name  object
 14  department_name              object
 15  index_name                   object
 16  index_group_name             object
 17  section_name                 object
 18  garment_group_name           object
dtypes: object(15), uint8(4)
memory usage: 6.9+ GB

In [5]:
#label_encoding
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['club_member_status'] = labelencoder.fit_transform(df['club_member_status'])
df['fashion_news_frequency'] = labelencoder.fit_transform(df['fashion_news_frequency'])
df['index_name'] = labelencoder.fit_transform(df['index_name'])
df['perceived_colour_value_name'] = labelencoder.fit_transform(df['perceived_colour_value_name'])
df['colour_group_name'] = labelencoder.fit_transform(df['colour_group_name'])
df['graphical_appearance_name'] = labelencoder.fit_transform(df['graphical_appearance_name'])
df['prod_name'] = labelencoder.fit_transform(df['prod_name'])
df['product_type_name'] = labelencoder.fit_transform(df['product_type_name'])
df['product_group_name'] = labelencoder.fit_transform(df['product_group_name'])
df['department_name'] = labelencoder.fit_transform(df['department_name'])
df['index_group_name'] = labelencoder.fit_transform(df['index_group_name'])
df['section_name'] = labelencoder.fit_transform(df['section_name'])
df['garment_group_name'] = labelencoder.fit_transform(df['garment_group_name'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 19 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           int32
 6   fashion_news_frequency       int32
 7   age_class                    uint8
 8   prod_name                    int32
 9   product_type_name            int32
 10  product_group_name           int32
 11  graphical_appearance_name    int32
 12  colour_group_name            int32
 13  perceived_colour_value_name  int32
 14  department_name              int32
 15  index_name                   int32
 16  index_group_name             int32
 17  section_name                 int32
 18  garment_group_name           int32
dtypes: int32(13), object(2), uint8(4)
memory usage: 4.2+ GB

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 19 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           int32
 6   fashion_news_frequency       int32
 7   age_class                    uint8
 8   prod_name                    int32
 9   product_type_name            int32
 10  product_group_name           int32
 11  graphical_appearance_name    int32
 12  colour_group_name            int32
 13  perceived_colour_value_name  int32
 14  department_name              int32
 15  index_name                   int32
 16  index_group_name             int32
 17  section_name                 int32
 18  garment_group_name           int32
dtypes: int32(13), object(2), uint8(4)
memory usage: 4.2+ GB

In [7]:
df

,customer_id,article_id,Buy,FN,Active,club_member_status,fashion_news_frequency,age_class,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name
0,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0562245001,0,0,0,0,1,1,115,30,2,8,1,0,43,3,2,15,14
1,00007d2de826758b65a93dd24ce629ed66842531df6699...,0562245001,0,1,1,0,2,2,115,30,2,8,1,0,43,3,2,15,14
2,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,0562245001,0,1,1,0,2,5,115,30,2,8,1,0,43,3,2,15,14
3,0000b2f1829e23b24feec422ef13df3ccedaedc85368e6...,0562245001,0,1,1,0,2,4,115,30,2,8,1,0,43,3,2,15,14
4,00015c1a121e08bbd2552c15fbbb6e6b19d3bf8f7b6a3d...,0562245001,0,0,0,0,1,1,115,30,2,8,1,0,43,3,2,15,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55945779,fffe836e77106fde6a3d0fd74882c4f4315c5255e38fd1...,0688341001,0,1,1,0,2,2,30,28,3,8,1,0,18,3,2,14,4
55945780,ffff12aa623c69eae8959d673f1f12ad0194ad760d77fd...,0688341001,0,0,0,0,1,2,30,28,3,8,1,0,18,3,2,14,4
55945781,ffff1c80bd2dede87deda612527c3df06d2fb270b85602...,0688341001,0,0,0,0,1,4,30,28,3,8,1,0,18,3,2,14,4
55945782,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0688341001,0,0,0,0,1,1,30,28,3,8,1,0,18,3,2,14,4
55945783,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0688341001,0,1,1,0,2,1,30,28,3,8,1,0,18,3,2,14,4

In [8]:
df['club_member_status'] = df['club_member_status'].astype('uint8')
df['fashion_news_frequency'] = df['fashion_news_frequency'].astype('uint8')
df['prod_name'] = df['prod_name'].astype('uint8')
df['product_type_name'] = df['product_type_name'].astype('uint8')
df['product_group_name'] = df['product_group_name'].astype('uint8')
df['graphical_appearance_name'] = df['graphical_appearance_name'].astype('uint8')
df['colour_group_name'] = df['colour_group_name'].astype('uint8')
df['perceived_colour_value_name'] = df['perceived_colour_value_name'].astype('uint8')
df['department_name'] = df['department_name'].astype('uint8')
df['index_name'] = df['index_name'].astype('uint8')
df['index_group_name'] = df['index_group_name'].astype('uint8')
df['section_name'] = df['section_name'].astype('uint8')
df['garment_group_name'] = df['garment_group_name'].astype('uint8')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 19 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           uint8
 6   fashion_news_frequency       uint8
 7   age_class                    uint8
 8   prod_name                    uint8
 9   product_type_name            uint8
 10  product_group_name           uint8
 11  graphical_appearance_name    uint8
 12  colour_group_name            uint8
 13  perceived_colour_value_name  uint8
 14  department_name              uint8
 15  index_name                   uint8
 16  index_group_name             uint8
 17  section_name                 uint8
 18  garment_group_name           uint8
dtypes: object(2), uint8(17)
memory usage: 2.1+ GB

In [17]:
df.to_csv('對照組(新).csv',index=False)

In [11]:
y=df['Buy']
data=df.drop(['customer_id','article_id','Buy'],axis=1)

In [19]:
y

0           0
1           0
2           0
3           0
4           0
           ..
55945779    0
55945780    0
55945781    0
55945782    0
55945783    0
Name: Buy, Length: 55945784, dtype: uint8

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 16 columns):
 #   Column                       Dtype
---  ------                       -----
 0   FN                           uint8
 1   Active                       uint8
 2   club_member_status           uint8
 3   fashion_news_frequency       uint8
 4   age_class                    uint8
 5   prod_name                    uint8
 6   product_type_name            uint8
 7   product_group_name           uint8
 8   graphical_appearance_name    uint8
 9   colour_group_name            uint8
 10  perceived_colour_value_name  uint8
 11  department_name              uint8
 12  index_name                   uint8
 13  index_group_name             uint8
 14  section_name                 uint8
 15  garment_group_name           uint8
dtypes: uint8(16)
memory usage: 1.3 GB

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, y,test_size=0.33, random_state=101)

In [14]:
X_train

,FN,Active,club_member_status,fashion_news_frequency,age_class,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name
25466664,1,1,0,2,1,28,30,2,8,2,4,44,1,1,4,14
26629413,1,1,0,2,1,143,28,3,8,14,2,26,5,3,11,4
35783730,1,1,0,2,3,132,35,3,8,1,0,25,6,4,8,5
51504966,1,1,0,2,5,169,30,2,2,10,1,8,1,1,7,15
12119477,1,1,0,2,1,99,30,2,8,10,2,44,1,1,4,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311895,1,1,0,2,1,59,30,2,8,1,0,8,1,1,7,15
55187007,0,0,0,1,2,40,21,3,8,14,2,30,5,3,10,7
35079505,0,0,0,1,2,144,26,3,8,1,0,42,1,1,4,6
24331787,0,0,0,1,3,193,30,2,8,1,0,43,3,2,21,14
3322719,1,1,0,2,1,121,4,3,8,1,0,39,3,2,21,2

In [13]:
y_train

25466664    0
26629413    0
35783730    0
51504966    0
12119477    0
           ..
311895      0
55187007    0
35079505    0
24331787    0
3322719     0
Name: Buy, Length: 37483675, dtype: uint8

# XGB

In [14]:
from xgboost.sklearn import XGBClassifier

xgbc = XGBClassifier(        
        n_estimators=8,     #樹的個數
        learning_rate= 0.1,    # 如同學習率 
        max_depth=6,       # 構建樹的深度，越大越容易過擬合    
        subsample=1,         # 隨機取樣訓練樣本 訓練例項的子取樣比
        gamma=0,         # 用於控制是否後剪枝的引數,越大越保守，一般0.1、0.2這樣子
        reg_lambda=1,          # 控制模型複雜度的權重值的L2正則化項引數，引數越大，模型越不容易過擬合。
        max_delta_step=0,        #最大增量步長，我們允許每個樹的權重估計。
        colsample_bytree=1,         # 生成樹時進行的列取樣 
        min_child_weight=1, 
                     # 這個引數預設是 1，是每個葉子裡面 h 的和至少是多少，對正負樣本不均衡時的 0-1 分類而言
                     # 假設 h 在 0.01 附近，min_child_weight 為 1 意味著葉子節點中最少需要包含 100 個樣本。
                     #這個引數非常影響結果，控制葉子節點中二階導的和的最小值，該引數值越小，越容易 overfitting。
        seed=1000         #隨機種子
#       reg_alpha=0,        # L1 正則項引數
#       scale_pos_weight=1,        #如果取值大於0的話，在類別樣本不平衡的情況下有助於快速收斂。平衡正負權重
#       objective= 'multi:softmax',         #多分類的問題 指定學習任務和相應的學習目標
#       num_class=10,        # 類別數，多分類與 multisoftmax 並用
#       silent=0 ,        # 設定成1則沒有執行資訊輸出，最好是設定為0.是否在執行升級時列印訊息。
#       nthread=4,        # cpu 執行緒數 預設最大
#       eval_metric= 'auc'
)

#xgbc = XGBClassifier(max_depth=5,learning_rate=0.1,n_estimators=160,silent=True,objective='multi:softmax')
#xgbc = XGBClassifier()

D:\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [15]:
xgbc.fit(X_train, y_train)
XGB_pred=xgbc.predict(X_test)
print(XGB_pred)

D:\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
D:\anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[19:52:41] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[0 0 0 ... 0 0 0]

In [16]:
XGBtrain_score=xgbc.score(X_train, y_train)
print(XGBtrain_score)

0.9832299794510544

In [17]:
XGBtest_score=xgbc.score(X_test,y_test)
print('The Accuracy of XGBOOST Classifier on testing set:', XGBtest_score)

The Accuracy of XGBOOST Classifier on testing set: 0.9832050065352772

In [18]:
# Sckit-Learn
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,XGB_pred))
print(confusion_matrix(y_test,XGB_pred))

D:\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99  18152038
           1       0.00      0.00      0.00    310071

    accuracy                           0.98  18462109
   macro avg       0.49      0.50      0.50  18462109
weighted avg       0.97      0.98      0.97  18462109

[[18152038        0]
 [  310071        0]]

# RandomForest

In [46]:
from sklearn.ensemble import RandomForestClassifier
'''
rfc=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, 
                       min_samples_leaf=40, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
'''

rfc=RandomForestClassifier()#使用預設直

In [47]:
rfc.fit(X_train, y_train)
RF_pred=rfc.predict(X_test)
print(RF_pred)

KeyboardInterrupt:

In [ ]:
RFtrain_score=rfc.score(X_train, y_train)
print(RFtrain_score)

In [ ]:
RFtest_score=rfc.score(X_test,y_test)
print('The Accuracy of RandomForest Classifier on testing set:', RFtest_score)

In [ ]:
print(classification_report(y_test,RF_pred))
print(confusion_matrix(y_test,RF_pred))

# under

In [24]:
X_train

,FN,Active,club_member_status,fashion_news_frequency,age_class,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name
25466664,1,1,0,2,1,28,30,2,8,2,4,44,1,1,4,14
26629413,1,1,0,2,1,143,28,3,8,14,2,26,5,3,11,4
35783730,1,1,0,2,3,132,35,3,8,1,0,25,6,4,8,5
51504966,1,1,0,2,5,169,30,2,2,10,1,8,1,1,7,15
12119477,1,1,0,2,1,99,30,2,8,10,2,44,1,1,4,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311895,1,1,0,2,1,59,30,2,8,1,0,8,1,1,7,15
55187007,0,0,0,1,2,40,21,3,8,14,2,30,5,3,10,7
35079505,0,0,0,1,2,144,26,3,8,1,0,42,1,1,4,6
24331787,0,0,0,1,3,193,30,2,8,1,0,43,3,2,21,14
3322719,1,1,0,2,1,121,4,3,8,1,0,39,3,2,21,2

In [26]:
y_train

25466664    0
26629413    0
35783730    0
51504966    0
12119477    0
           ..
311895      0
55187007    0
35079505    0
24331787    0
3322719     0
Name: Buy, Length: 37483675, dtype: uint8

In [27]:
undersampling = pd.concat([X_train,y_train],axis=1)
undersampling

,FN,Active,club_member_status,fashion_news_frequency,age_class,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
25466664,1,1,0,2,1,28,30,2,8,2,4,44,1,1,4,14,0
26629413,1,1,0,2,1,143,28,3,8,14,2,26,5,3,11,4,0
35783730,1,1,0,2,3,132,35,3,8,1,0,25,6,4,8,5,0
51504966,1,1,0,2,5,169,30,2,2,10,1,8,1,1,7,15,0
12119477,1,1,0,2,1,99,30,2,8,10,2,44,1,1,4,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311895,1,1,0,2,1,59,30,2,8,1,0,8,1,1,7,15,0
55187007,0,0,0,1,2,40,21,3,8,14,2,30,5,3,10,7,0
35079505,0,0,0,1,2,144,26,3,8,1,0,42,1,1,4,6,0
24331787,0,0,0,1,3,193,30,2,8,1,0,43,3,2,21,14,0
3322719,1,1,0,2,1,121,4,3,8,1,0,39,3,2,21,2,0

In [28]:
#篩選0的資料
undersampling_0 = undersampling[undersampling['Buy']==0]

In [29]:
#篩選1的資料
undersampling_1 = undersampling[undersampling['Buy']==1]

In [30]:
#打亂資料
from sklearn.utils import shuffle
undersampling_0 = shuffle(undersampling_0)
undersampling_0.head()

,FN,Active,club_member_status,fashion_news_frequency,age_class,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
19747145,1,1,0,2,4,173,31,6,8,1,0,41,4,2,17,11,0
34930497,1,1,0,2,2,144,26,3,8,1,0,42,1,1,4,6,0
6991106,0,0,0,1,4,46,33,8,8,5,3,12,4,2,16,16,0
45823588,0,0,0,1,1,117,30,2,8,6,0,44,1,1,4,14,0
17406118,0,0,0,1,1,47,7,8,8,5,3,12,4,2,16,16,0

In [31]:
undersampling_1['Buy'].value_counts()

1    628602
Name: Buy, dtype: int64

In [32]:
#取樣
under=undersampling_0.sample(n=628602,random_state=123,axis=0,replace=False)

In [33]:
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
21247449,0,0,0,1,5,126,30,2,8,1,0,43,3,2,21,14,0
14489546,0,0,0,1,3,151,5,3,8,14,2,3,3,2,21,1,0
6290633,1,1,0,2,2,99,30,2,8,4,0,44,1,1,4,14,0
38867822,1,1,0,2,2,8,17,2,8,1,0,41,4,2,17,11,0
47011254,0,0,0,1,2,142,28,3,8,14,2,26,5,3,11,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53400495,0,0,0,1,2,190,24,5,8,14,2,36,2,2,18,8,0
49288750,1,1,0,2,3,76,29,3,8,14,2,18,3,2,14,4,0
22262926,1,1,0,2,4,7,31,6,8,1,0,41,4,2,17,11,0
42163820,0,0,0,1,2,25,30,2,4,7,1,1,1,1,3,4,0
33808751,1,1,0,2,2,110,28,3,8,1,0,1,1,1,3,4,0

In [34]:
#合併0和1
under = pd.concat([under,undersampling_1],ignore_index=True)
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
0,0,0,0,1,5,126,30,2,8,1,0,43,3,2,21,14,0
1,0,0,0,1,3,151,5,3,8,14,2,3,3,2,21,1,0
2,1,1,0,2,2,99,30,2,8,4,0,44,1,1,4,14,0
3,1,1,0,2,2,8,17,2,8,1,0,41,4,2,17,11,0
4,0,0,0,1,2,142,28,3,8,14,2,26,5,3,11,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257199,0,0,0,1,4,160,30,2,2,2,4,8,1,1,7,15,1
1257200,0,0,0,1,5,80,5,3,8,1,0,3,3,2,21,1,1
1257201,0,0,0,1,2,10,25,6,8,1,0,32,4,2,17,11,1
1257202,0,0,0,1,4,183,27,7,8,1,0,40,4,2,20,13,1
1257203,0,0,0,1,5,127,28,3,8,14,2,18,3,2,14,4,1

In [35]:
#打亂資料
from sklearn.utils import shuffle
under = shuffle(under)
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
43445,0,0,0,1,1,189,28,3,8,1,0,26,5,3,11,4,0
107137,1,1,0,2,4,181,15,0,8,1,0,21,1,1,2,0,0
1215869,0,0,0,1,2,95,6,5,8,1,0,9,1,1,2,8,1
1249653,0,0,0,1,2,92,30,2,8,1,0,44,1,1,4,14,1
382946,0,0,0,1,4,118,31,6,8,1,0,41,4,2,17,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478100,0,0,0,1,4,42,8,3,8,1,0,22,3,2,21,6,0
1030383,0,0,0,1,5,74,1,5,8,1,0,13,2,2,18,8,1
839407,0,0,0,1,4,12,11,0,8,8,0,15,2,2,19,0,1
1099175,0,0,0,1,1,46,33,8,8,1,0,12,4,2,16,16,1
252437,1,1,0,2,2,57,17,2,8,1,0,41,4,2,17,11,0

# Under完 XGB

In [36]:
y_train = under['Buy']
y_train

43445      0
107137     0
1215869    1
1249653    1
382946     0
          ..
478100     0
1030383    1
839407     1
1099175    1
252437     0
Name: Buy, Length: 1257204, dtype: uint8

In [37]:
X_train = under.drop('Buy',axis=1)
X_train

,FN,Active,club_member_status,fashion_news_frequency,age_class,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name
43445,0,0,0,1,1,189,28,3,8,1,0,26,5,3,11,4
107137,1,1,0,2,4,181,15,0,8,1,0,21,1,1,2,0
1215869,0,0,0,1,2,95,6,5,8,1,0,9,1,1,2,8
1249653,0,0,0,1,2,92,30,2,8,1,0,44,1,1,4,14
382946,0,0,0,1,4,118,31,6,8,1,0,41,4,2,17,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478100,0,0,0,1,4,42,8,3,8,1,0,22,3,2,21,6
1030383,0,0,0,1,5,74,1,5,8,1,0,13,2,2,18,8
839407,0,0,0,1,4,12,11,0,8,8,0,15,2,2,19,0
1099175,0,0,0,1,1,46,33,8,8,1,0,12,4,2,16,16
252437,1,1,0,2,2,57,17,2,8,1,0,41,4,2,17,11

In [38]:
from xgboost.sklearn import XGBClassifier

xgbc = XGBClassifier(        
        n_estimators=8,     #樹的個數
        learning_rate= 0.1,    # 如同學習率 
        max_depth=6,       # 構建樹的深度，越大越容易過擬合    
        subsample=1,         # 隨機取樣訓練樣本 訓練例項的子取樣比
        gamma=0,         # 用於控制是否後剪枝的引數,越大越保守，一般0.1、0.2這樣子
        reg_lambda=1,          # 控制模型複雜度的權重值的L2正則化項引數，引數越大，模型越不容易過擬合。
        max_delta_step=0,        #最大增量步長，我們允許每個樹的權重估計。
        colsample_bytree=1,         # 生成樹時進行的列取樣 
        min_child_weight=1, 
                     # 這個引數預設是 1，是每個葉子裡面 h 的和至少是多少，對正負樣本不均衡時的 0-1 分類而言
                     # 假設 h 在 0.01 附近，min_child_weight 為 1 意味著葉子節點中最少需要包含 100 個樣本。
                     #這個引數非常影響結果，控制葉子節點中二階導的和的最小值，該引數值越小，越容易 overfitting。
        seed=1000         #隨機種子
#       reg_alpha=0,        # L1 正則項引數
#       scale_pos_weight=1,        #如果取值大於0的話，在類別樣本不平衡的情況下有助於快速收斂。平衡正負權重
#       objective= 'multi:softmax',         #多分類的問題 指定學習任務和相應的學習目標
#       num_class=10,        # 類別數，多分類與 multisoftmax 並用
#       silent=0 ,        # 設定成1則沒有執行資訊輸出，最好是設定為0.是否在執行升級時列印訊息。
#       nthread=4,        # cpu 執行緒數 預設最大
#       eval_metric= 'auc'
)

#xgbc = XGBClassifier(max_depth=5,learning_rate=0.1,n_estimators=160,silent=True,objective='multi:softmax')
#xgbc = XGBClassifier()

In [39]:
xgbc.fit(X_train, y_train)
XGB_pred=xgbc.predict(X_test)
print(XGB_pred)

D:\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
D:\anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[20:26:29] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[1 0 1 ... 0 0 1]

In [40]:
XGBtrain_score=xgbc.score(X_train, y_train)
print(XGBtrain_score)

0.6097403444468837

In [41]:
XGBtest_score=xgbc.score(X_test,y_test)
print('The Accuracy of XGBOOST Classifier on testing set:', XGBtest_score)

The Accuracy of XGBOOST Classifier on testing set: 0.6264239908885816

In [42]:
# Sckit-Learn
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,XGB_pred))
print(confusion_matrix(y_test,XGB_pred))

              precision    recall  f1-score   support

           0       0.99      0.63      0.77  18152038
           1       0.03      0.59      0.05    310071

    accuracy                           0.63  18462109
   macro avg       0.51      0.61      0.41  18462109
weighted avg       0.97      0.63      0.76  18462109

[[11382463  6769575]
 [  127426   182645]]

In [49]:
X_train.to_csv('X_train1.csv',index=False)
y_train.to_csv('y_train1.csv',index=False)
X_test.to_csv('X_test1.csv',index=False)
y_test.to_csv('y_test1.csv',index=False)